
# Ignore the /vendor/ directory for people using composer
/vendor/

# If the vendor directory isn't being commited the composer.lock file should also be ignored
composer.lock

# Ignore IDE's configuration files
.idea

# Ignore PHP CS Fixer local config and cache
.php_cs
.php_cs.cache

# Ignore PHPStan local config
.phpstan.neon

# Ignore PHP Unit test cache
.phpunit.result.cache

# Ignore PHPUnit coverage file
clover.xml